{% extends 'test_base.html' %}

{% block body %}

    <div class="container">


        <div class="table-reponsive text-nowrap">
          <h2>Your cart</h2>
          <ul>
          {% for order_item in cart.get_order_items_query %}
            <li>
              <span><strong>{{order_item.quantity}}  </strong>{{order_item.item.title|truncatewords:4}}</span>
              <strong>${{order_item.get_total_order_item_price}}</strong>
              <p>{{order_item.item.description|truncatewords:8}}</p>
            </li>
          {% endfor %}  
          <div>
            <p>Total (USD)</p>
            <strong>${{ cart.get_total_price }}</strong>
          </div> 
        </ul>

        
        </div>

        <div>
          <h1>Fill to continue</h1>
          <form method="POST" action="{% url 'core:checkout' %}">
            {% csrf_token %}
            <div>
              {{checkout_form.street_address}}

              {{checkout_form.apartment_address}}

              {{ checkout_form.country }}

              {{checkout_form.zip}}

              <p>jksdf</p>
              {{checkout_form.phone_number}}

              {{ checkout_form.save_info }}

              {{checkout_form.same_billing_address}}

              {{checkout_form.payment_option}}
            </div>
          </form>
        </div>
    
        </div>
{% endblock %}
