{% extends 'base.html' %}
{% load account crispy_forms_tags %}
{%  block content %}


  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!-- {{ form|crispy }} -->
            <!--Card content-->
            <form class="card-body" method="post">
              {% csrf_token %}


              <!--address-->
              <div class="md-form mb-5">
                <!-- <input type="text" id="address" class="form-control" placeholder="1234 Main St"> -->
                  {{checkout_form.street_address}}
                <label for="address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <!-- <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite"> -->
                {{ checkout_form.apartment_address }}
                <label for="address-2" class="">Address 2 (optional)</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  {{ checkout_form.contry }}

                </div>
                <!--Grid column-->



                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
                  {{ checkout_form.zip }}
                  <!-- <input type="text" class="form-control" id="zip" placeholder="" required> -->


                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>

              <div class="custom-control custom-checkbox">
                <input {% if checkout_form.same_billing_address.value %}checked{% endif%}  type="checkbox" class="custom-control-input" name='same_billing_address' id="same-address">
                <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input {% if checkout_form.save_info.value %}checked{% endif%}   type="checkbox" name="save_info" class="custom-control-input" id="save-info">
                <label class="custom-control-label" name='{{form.save_info.id_for_label}}' for="save-info">Save this information for next time</label>
              </div>

              <hr>

              <div class="d-block my-3">
                {% for value, name in checkout_form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">

                  <input id="{{name}}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="{{name}}">{{name}}</label>
                </div>
                {% endfor %}
              </div>


              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          {% include 'cart.html' %}


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}
