{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}

{%  block content %}

  <!--Main layout-->
  <main>
    <div class="container">

      <!--Navbar-->

      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for item in object_list  %}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">
            <!--Card-->
            <div class="card">
              <a href="{{ item.get_absolute_url }}" class="dark-grey-text">
              <!--Card image-->
              <div class="img-wrap"> <!--old class value  'view overlay' -->
                <img src="{{ item.image }}"  class=""
                  alt=""> <!-- old class value 'card-img-top' -->
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <!-- <h5>{{item.get_category_display}}</h5> -->
                  <span class="badge purple mr-1">{{item.get_category_display}}</span>

                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{item.title|truncatewords:2}}
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>
                    {% if item.discount_price%}
                      {{item.discount_price}}
                    {% else %}
                      {{item.price}}
                    {% endif %}
                      $
                  </strong>

                </h4>

              </div>
              <!--Card content-->
                </a>
            </div>
            <!--Card-->

          </div>
          <!--Grid column-->
          {% endfor %}

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">



        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->

      <!--Pagination-->

        {% include 'pagination.html' %}

      <!--Pagination-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}
